@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Roboto:wght@300&display=swap");

.steps {
  display: flex;
}

* {
  font-family: "Inconsolata", monospace;
}

body {
  background-color: #44444c;
  color: #fff;
  text-align: center;
}

#level {
  display: flex;
  flex-direction: row;
}

.buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 140px;
}

.buttons-container .game-btn {
  display: block;
  position: relative;
  width: 100px;
  height: 85px;
  border-radius: 25%;
  margin: 20px;
  filter: brightness(0.8);
  box-shadow: 0 1px 1px 2px rgba(1, 3, 7, 0.75);
  cursor: pointer;
}

.buttons-container .game-btn:hover {
  filter: brightness(0.7);
}

.buttons-container .game-btn .front {
  content: "";
  background-repeat: no-repeat;
  background-size: 5rem 5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  transform: translateY(-20px);
  transition-duration: 125ms;
  transition-delay: 125ms;
}

.player-active .game-btn:active .front {
  transform: translateY(-5px);
  transition-duration: 125ms;
  transition-delay: initial;
}

.buttons-container .clicked,
.buttons-container .game-btn:active {
  filter: brightness(1);
}

.buttons-container .clicked .front {
  transform: translateY(-4px);
  transition-duration: 125ms;
  transition-delay: initial;
}

.buttons-container > .game-btn .front {
  transition-delay: initial;
  cursor: pointer;
}

.test {
  clear: left;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  justify-self: flex-start;
}
